force-app/main/default/flows/Custom_Case_Summary.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Invoice_Data</name>
        <label>Get Invoice Data</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>GetHerokuProducts</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Weather_Data</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>endpoint</name>
            <value>
                <stringValue>/invoices?customer_id={!customer_id}</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Weather_Data</name>
        <label>Get Weather Data</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>GetHerokuProducts</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Case_Comments</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>endpoint</name>
            <value>
                <stringValue>/weather?postal_code={!customer_postal_code}</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_Comments_to_String</name>
        <label>Add Comments to String</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>CommentsString</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Comments.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CommentsString</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Comments.Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Comments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Prompt_Instructions</name>
        <elementSubtype>CreatePromptInstructions</elementSubtype>
        <label>Case Prompt Instructions</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>$Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>--Start Call Comments--
{!CommentsString}
--End Call Comments--
--Start Billing History--
{!BillingClean}
--End Billing History--
--Start Weather History--
{!WeatherClean}
--End Billing History--
</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>customer_id</name>
        <dataType>String</dataType>
        <value>
            <stringValue>7133</stringValue>
        </value>
    </constants>
    <constants>
        <name>customer_postal_code</name>
        <dataType>String</dataType>
        <value>
            <stringValue>27615</stringValue>
        </value>
    </constants>
    <environments>Default</environments>
    <formulas>
        <name>BillingClean</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Get_Invoice_Data.body},&quot;,&quot;,&quot;, &quot;)</expression>
    </formulas>
    <formulas>
        <name>WeatherClean</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Get_Weather_Data.body},&quot;,&quot;,&quot;, &quot;)</expression>
    </formulas>
    <interviewLabel>Custom Case Summary {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Custom Case Summary</label>
    <loops>
        <name>Loop_Through_Comments</name>
        <label>Loop Through Comments</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Case_Comments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Comments_to_String</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Case_Prompt_Instructions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>PromptFlow</processType>
    <recordLookups>
        <name>Get_Case_Comments</name>
        <label>Get Case Comments</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Comments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>5001Q00001XyskuQAB</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Invoice_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CommentsString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>003Dn000008JsCXIA0</stringValue>
        </value>
    </variables>
</Flow>
